
#signUpBlock{
    width: 400px;
    display:block;
}

#signInBlock{
    width: 400px;
    display:none;
}

#blockProfile{
    display: flex;
    display: none;
    flex-direction: column;
    border-radius: 4px;
    width: 400px;
    background-color: #d3d3d3;
}

.blockProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 25px;
    color: rgb(66, 64, 64);
}

.logo{
    margin-bottom: 25px;
}

.name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#goToSignUp{
    margin-top: 100px;
}

.center{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.flex{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb25{
    margin-bottom: 25px;
}

.width100{
    width: 100%;
}

.signIn:hover,
.signUn:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
}

.logo img{
    width: 100px;
}

.invalid,
.inputFieldsNone,
.invalidExist,
.invalisPassOrLogin{
    display: none;
    color: red;
}
