.mt-25{
  margin-top: 25px;
}
.userName{
  text-transform: none;
  background-color: #6c757d;
  border-color: #6c757d;
  height: 38px;
  line-height: 38px;
  min-width: 90px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #ffffff;
  padding: 0 10px;
}
.userNameSpan{
  text-transform: uppercase;
  color: lightgrey;
}

.post{
  max-width: 900px;
  margin: 20px auto;
  border: 1px dashed black;
  padding: 20px 20px;
  .posted{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(119, 114, 114);
  }
  .postedBy{
    color: darkorange;
    text-transform: none;
  }
  p{
    font-size: 18px;
    font-family: Cambria;
    margin-bottom: 0;
    text-align: justify;
  }
  .bg-content{
    background-color: khaki;
    padding-left: 105px;
  }
  .btn-for-sign-in{
    display: flex;
    justify-content: flex-end;
  }
}
